<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frameworkConfiguration" type="IFramework.Config.FrameworkConfigurationSection, IFramework"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="mvcConfiguration" type="IFramework.Infrastructure.Mvc.Config.MvcConfigurationSection, IFramework.Infrastructure.Mvc"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <frameworkConfiguration>
    <handlers>
      <handler name="ApplicationEventSubscriber" sourceType="Assembly" source="Sample.ApplicationEventSubscriber"/>
      <handler name="DomainEventSubscriber" sourceType="Assembly" source="Sample.DomainEventSubscriber"/>
      <handler name="AsyncDomainEventSubscriber" sourceType="Assembly" source="Sample.AsyncDomainEventSubscriber"/>
      <handler name="CommandHandlers" sourceType="Assembly" source="Sample.CommandHandler"/>
    </handlers>
  </frameworkConfiguration>
  <mvcConfiguration>
    <mvcControllers>
      <mvcController assembly="Sample.CommandService"/>
    </mvcControllers>
  </mvcConfiguration>
  <connectionStrings>
    <add name="SampleModelContext" providerName="System.Data.SqlClient" connectionString="Server=.\sqlexpress;Database=SampleModelContext;Integrated Security=true;"/>
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="PerMessageOrExecutionContext" type="IFramework.Infrastructure.Unity.LifetimeManagers.PerMessageOrExecutionContextLifetimeManager, IFramework"/>
    <alias alias="IMessageConsumer" type="IFramework.Message.IMessageConsumer, IFramework"/>
    <alias alias="IEventPublisher" type="IFramework.Event.IEventPublisher, IFramework"/>
    <alias alias="EventPublisher" type="IFramework.Event.Impl.MockEventPublisher, IFramework"/>
    <alias alias="IHandlerProvider" type="IFramework.Message.IHandlerProvider, IFramework"/>
    <alias alias="IEventSubscriberProvider" type="IFramework.Event.IEventSubscriberProvider, IFramework"/>
    <alias alias="EventSubscriberProvider" type="IFramework.Event.Impl.EventSubscriberProvider, IFramework"/>
    <alias alias="IUnitOfWork" type="IFramework.UnitOfWork.IUnitOfWork, IFramework"/>
    <alias alias="UnitOfWork" type="IFramework.EntityFramework.UnitOfWork, IFramework.EntityFramework"/>
    <alias alias="IDomainEventBus" type="IFramework.Event.IDomainEventBus, IFramework"/>
    <alias alias="DomainEventBus" type="IFramework.Event.Impl.DomainEventBus, IFramework"/>
    <alias alias="IMessageStore" type="IFramework.Message.IMessageStore, IFramework"/>
    <alias alias="MessageStore" type="IFramework.Message.Impl.MockMessageStore, IFramework"/>
    <alias alias="SampleModelContext" type="Sample.Persistence.SampleModelContext, Sample.Persistence"/>
    <alias alias="RepositoryImpl" type="IFramework.EntityFramework.Repositories.Repository`1,  IFramework.EntityFramework"/>
    <container>
      <register type="IMessageStore" mapTo="SampleModelContext">
        <lifetime type="PerMessageOrExecutionContext"></lifetime>
      </register>
      <register type="IUnitOfWork" mapTo="UnitOfWork">
        <lifetime type="PerMessageOrExecutionContext"/>
      </register>

      <register type="IEventSubscriberProvider" mapTo="EventSubscriberProvider">
        <lifetime type="singleton"/>
        <constructor>
          <param name="assemblies">
            <array>
              <value value="DomainEventSubscriber"/>
            </array>
          </param>
        </constructor>
      </register>
      <register type="IEventPublisher" mapTo="EventPublisher">
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IDomainEventBus" mapTo="DomainEventBus">
        <lifetime type="PerMessageOrExecutionContext"/>
        <constructor>
          <param name="provider" dependencyType="IEventSubscriberProvider"/>
        </constructor>
      </register>
      <register type="IFramework.Repositories.IDomainRepository, IFramework" mapTo="IFramework.EntityFramework.Repositories.DomainRepository, IFramework.EntityFramework"/>
      <register type="IFramework.Repositories.IRepository`1, IFramework" mapTo="RepositoryImpl"/>
      <register type="SampleModelContext" mapTo="SampleModelContext">
        <lifetime type="PerMessageOrExecutionContext"/>
      </register>
    </container>
  </unity>
  <appSettings>

  </appSettings>

  <system.serviceModel>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
